.form {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  height: 340px;
  box-sizing: border-box;
  margin: 30px 0px;
}

.form__error {
  color: red;
  text-align: center;
  font-size: 18px;
  display: block;
  margin-top: 3px;
  display: none;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #919090;
  height: 30px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  margin-bottom: 40px;
  width: 100%;
}

input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: white;
}

input:focus {
  outline: none;
}

.checkbox {
  margin-bottom: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.7;
}

.btnCheck {
  padding: 15px 100px;
  background: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 140%;
  color: #282828;
}

.btnCheck:hover {
  background: teal;
  color: white;
  border: 1px solid teal;
  cursor: pointer;
}
